div.support {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 15%;
    height: 10%;
    padding: 20px 0px 0px 0px;
}
.support > button {
    width: 100%;
    height: 100%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    background-color: blue; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.support .flex{
    display: flex;
}

.support .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 60%;
    padding: 2px;
    margin: 2px 0;
    font-size: .7em;
    clear: both;
}

.support .darker {
    border-color: #ccc;
    background-color: #ddd;
    float: right;
}

.support .container::after {
    content: "";
    clear: both;
    display: table;
}

.support .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.support .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.support .sender{
    position: absolute;
    top: 83%;
    width: 100%;
    height: 0px;
    margin: 0px;
}

.support .sender button{
    position: absolute;
    top: 10%;
    left: 7%;
    width: 20px;
    height: 20px;
    background-image: url(../resources/send_arrow.png);
    background-color: transparent;
    background-size: 100%;
}

.support .sender input{
    width: 100%;
    height: 10%;
    text-align: right;
    padding-left: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.support .sender form{
    position: absolute; 
}

.support #messages{
    height:100%;
    width: 100%;
    padding: 10px 10px 2px 2px;
    overflow-y: auto;
    margin: 0px;
    background-color: aliceblue;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.support #messenger{
    position: absolute;
    height: 90%;
    width: 100%;
}

.support #minus_btn{
    height: 20px;
    width: 20px;
    margin: 3px;
    background-image: url(../resources/minus.svg);
    background-size: 100%;
}

.support img.supporterInfo{
    margin: 5%;
    width: 20%;
}

.support div.supporterInfo{
    margin: 5%;
    width: 50%;
}

.support img {
    border-radius: 50%;
}

.support .time{
    font-size: .8em;
    color: chocolate;
}